{{ "<!-- About Section -->" | safeHTML }}
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.about.title }}{{.}}{{ end }}</h2>
                <hr class="star-light">
            </div>
        </div>
    <div class="row">
        <div class="col-lg-2 text-center"></div>

        {{ range .Site.Params.about.button}}

        <div class="col-lg-4 text-center">
            <p>{{ .long }}</p>

        </div>

        {{ end }}
        
    </div>
    <div class="row">
        <div class="col-lg-2 text-center"></div>

        {{ range .Site.Params.about.button}}

        <div class="col-lg-4 text-center">
            <a href="{{ .link }}" class="btn btn-lg btn-outline">
                <i class="fa fa-{{ .icon }}"></i> {{ .text }}
            </a>
        </div>

        {{ end }}

        <div class="col-lg-2 text-center"></div>

    </div>
    </div>
</section>
